In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('indices_list.csv') #importing list of repeated data created in Part 2

In [3]:
df1 = pd.read_csv('New_train.csv') #importing dataset from Part 1

In [4]:
indices = df['Indices'].values

In [5]:
indices

array([  178,   180,   182, ..., 33744, 33746, 33748])

In [6]:
df1.drop(indices, axis = 0, inplace = True) #Dropping Indices

In [7]:
df1.reset_index(drop=True, inplace=True) #Resetting Index of file

In [8]:
df1.shape

(28589, 19)

In [9]:
df1['date_time'] = df1['date_time'].astype('datetime64[ns]') 
df1['Day_of_week'] = pd.DatetimeIndex(df1['date_time']).dayofweek #Creating day of Week Column

### Day of Week in Dataset as per following:

| Day  |  Number  |
|------|----------|
| Monday  |  0  |
| Tuesday |  1 |
| Wednesday  |  2  |
| Thursday  |  3 |
| Friday  |  4  |
| Saturday  |  5  |
| Sunday  |  6  |

In [10]:
df1.to_csv('Train_4.csv', index = False) #Creating New Dataset & saving it into a new CSV file

In [11]:
df1.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,Year,Month,Day,Hour,Day_of_week
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,0,0,5545,2012,10,2,9,1
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,0,1,4516,2012,10,2,10,1
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,0,2,4767,2012,10,2,11,1
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,0,2,5026,2012,10,2,12,1
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,0,1,4918,2012,10,2,13,1